<section id="hero" class="light">

    <div class="" id="video-container">
      <video autoplay loop class="fillWidth" id="video">
        <source src="<%= asset_path 'main.mp4' %>" type="video/mp4"/>
        <source src="<%= asset_path 'main.ogg' %>" type="video/ogg"/>
        <source src="<%= asset_path 'main.webm' %>" type="video/webm"/>
      </video>
    </div>
     <div class="home-bg">
     <div class="hero-content" style="top: 30%">
<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <h2>Create your team</h2>
  <h4>Step 1/2</h4>
    <div class="panel panel-default" style="background: rgba(0,0,0,0.2);">
      <div class="panel-body">


<%= render 'form' %>

<%= link_to 'Cancel', teams_path, class: "btn btn-destroy" %>
</div></div></div></div></div></div></section>