<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @participant.user %>
</p>

<p>
  <strong>Contact phone:</strong>
  <%= @participant.contact_phone %>
</p>

<p>
  <strong>Usyd student:</strong>
  <%= @participant.usyd_student %>
</p>

<p>
  <strong>Study:</strong>
  <%= @participant.study %>
</p>

<p>
  <strong>Age:</strong>
  <%= @participant.age %>
</p>

<p>
  <strong>Resident:</strong>
  <%= @participant.resident %>
</p>

<p>
  <strong>Residence:</strong>
  <%= @participant.residence %>
</p>

<p>
  <strong>Pitch idea:</strong>
  <%= @participant.pitch_idea %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @participant.skills %>
</p>

<%= link_to 'Edit', edit_participant_path(@participant) %> |
<%= link_to 'Back', participants_path %>
