<h1>Listing invitations</h1>

<table class="table">
    <tr>
      <th>Email</th>
      <th>Team</th>
      <th>Status</th>
        <th colspan="3"></th>
    </tr>

  <%= content_tag_for(:tr, @invitations) do |invitation| %>
    <td><%= invitation.email %></td>
    <td><%= invitation.team %></td>
    <td><%= invitation.status %></td>
      <td><%= link_to 'Show', invitation %></td>
    <td><%= link_to 'Edit', edit_invitation_path(invitation), class: 'btn btn-edit' %></td>
    <td><%= link_to 'Delete', invitation, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-destroy' %></td>
  <% end %>
</table>


<div class="form-actions">
  <%= link_to 'New Invitation', new_invitation_path, class: 'btn btn-success' %>
</div>
