<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @invitation.email %>
</p>

<p>
  <strong>Team:</strong>
  <%= @invitation.team %>
</p>

<p>
  <strong>Status:</strong>
  <%= @invitation.status %>
</p>

<%= link_to 'Edit', edit_invitation_path(@invitation) %> |
<%= link_to 'Back', invitations_path %>
